@media screen and (min-width: 768px) and (max-width: 1440px) {
  
  body{
    background-image: url("../layouts/Assests/black.jpg");
    background-repeat:no-repeat;
    background-size: cover;
  }
  .head {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: darkgoldenrod;
    border: 2px solid black;
    position: sticky;
    top: 10px;
  }

  .linkcontainer {
    display: flex;
    list-style: none;
    gap: 10px;
    justify-content: space-evenly;
  }

  li a {
    text-decoration: none;
    color: white;
  }

  .banner {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: gray;
    border: 3px solid black;
    gap: 10px;
    border-radius: 20px;
    /* width: 100px;
    height: 100px; */
  }

  .productcontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }

  .items {
    width: 200px;
    height: 200px;
    background-color: burlywood;
    color: white;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    align-content: center;
    transition: background-color 0.3s ease;
  }

  .items:hover {
    background-color:cornflowerblue;
    animation: itemAnim 1s ease 0s infinite normal;
  }

  @keyframes itemAnim {
    0% {
      transform: translateY(0);
      border-radius: 5px;
    }
    50% {
      transform: translateY(25px);
      border-radius: 5px;
    }
  }

  footer {
    background-color: darkgoldenrod;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .head {
    background-color: darkgoldenrod;
    border: 2px solid black;
    position: sticky;
    top: 0;
  }

  .linkcontainer {
    list-style: none;
    gap: 10px;
    justify-content: space-evenly;
  }

  li a {
    text-decoration: none;
    color: white;
  }

  .banner {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: gray;
    gap: 10px;
    border-radius: 20px;
  }

  .banner img {
    display: none;
  }

  .productcontainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    text-align: center;
    align-content: center;
  }

  .items {
    width: 100px;
    height: 100px;
     background-color: burlywood;
    color: white;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    align-content: center;
    transition: background-color 0.3s ease;
  }

  .items:hover {
    background-color:cadetblue;
    animation: itemAni 1s ease 0s infinite normal;
  }

  @keyframes itemAni {
    0% {
      transform: translateY(0);
      border-radius: 0px;
    }
    50% {
      transform: translateY(25px);
      border-radius: 0px;
    }
  }

  footer {
    background-color: darkgoldenrod;
    text-align: center;
  }
}
